.App {
  width: 86%;
  display: grid;
  grid-template-columns: 26% auto;
  margin: 5vh auto;
}

.App-link {
  color: #61dafb;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
  border: 5px solid lightgray;
  border-radius: 4px;
  padding: 18px 12px;
}
.image-card {
  width: 250px;
  height: auto;
}
.add-to {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  background: lightgray;
  border: 0;
  border-radius: 4px;
}
.add-to:hover {
  background: lightskyblue;
}
.size:hover {
  border: 1px solid lightskyblue;
}
.selected-size {
  background: lightskyblue;
  color: white;
}
.size {
  width: 60px;
  height: 60px;
  padding: 0;
  border: 0;
  font-size: 13px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: bold;
} 



